{% extends 'admininterface/admin_base.html' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Product - {{ product.name }}</h2>
    
    <form method="POST" enctype="multipart/form-data" action="{% url 'admin_edit_product' product.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Update Product</button>
            <a href="{% url 'admin_manage_products' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
